@import "../../globalCSS/variables";
.fcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    
    flex-direction: column;
    min-height: 90vh;
    
    
  }
  
  .btnContainer {
    display: flex;
    justify-content: space-evenly;
    margin-bottom:1rem ;
  }

  #explore{
    margin-right: 0;
  }
  

  .loginBox {
  padding-left: 5rem;
  padding-right: 5rem;
  }

  @media only screen and (max-width: 768px){
    .loginBox{
      padding: 0;
    }
  }