@import "../../globalCSS/variables";
.fcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    flex-direction: column;
    
  }
  .loginContainer {
    display: grid;
    place-items: center;
  }
  .btnContainer {
    display: flex;
    width: 66%;
  }