@import "../../globalCSS/variables";

//ALL GROUPS
.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  h2 {
    color: $primary-blue;
    text-align: center;
    padding-bottom: 2rem;
  }
  p {
    padding-bottom: 0.3rem;
  }
  padding: 2rem;
  width: 70%;
  margin: 0 auto;
  .btn {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    p {
      padding: 0.95rem;
    }
    width: auto;
    margin: 2rem auto;
    h1 {
      text-align: center;
      font-size: 1.75rem;
      color: $dark;
    }
    border-radius: 0.3rem;
    padding: 0.2rem;
    height: 11rem;
  }
}

.cContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.scontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5rem 0 0.5rem 0;
  width: 21em;
  margin: 2rem auto;
  background-color: $secondary-lightblue-transparent;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0 0.313rem 0.938rem;
  .col1 {
    display: flex;
    flex-direction: row wrap;
    width: 100%;
    padding: 0.5rem;
    justify-content: center;
  }
  .col {
    display: flex;
    flex-direction: row wrap;
    justify-content: flex-start;
    margin: 0 auto;
    width: 80%;
    border-top: 0.05rem solid $secondary-orange;
    padding-right: 2rem;
    padding-left: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    .info1 {
      padding-right: 2rem;
      padding-left: 0.15rem;
    }
    .info {
      padding-right: 1.7rem;
      padding-left: 0.15rem;
    }
  }
  .bold {
    color: $primary-blue;
    text-align: left;
    font-size: 1.5rem;
    font-weight: 400;
    padding-right: 2rem;
  }
  .bold2 {
    color: $primary-orange;
    text-align: left;
    font-size: 1.5rem;
    font-weight: 600;
  }
  h3 {
    text-align: left;
  }
}

//SINGLE GROUP EDIT
.regForm {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 25%;
  h1 {
    padding-bottom: 2rem;
  }
}

//ADD GROUP

.maincontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  padding: 2rem;
  .addcontainer {
    width: 19%;
    margin: 0 auto;
  }
  .title {
    h3 {
      color: $primary-blue;
      font-size: 1.15rem;
      text-align: center;
    }
    padding: 2rem;
  }
  .addinfo {
    padding: 0.5rem;
    label {
      font-size: 0.95rem;
      padding-left: 0.4rem;
    }
  }
}
.btn {
  width: 17%;
  margin: 0 auto;
}
