@import "../../globalCSS/variables";

//ALL GROUPS
.container {
  display: block;
  h2 {
    color: $primary-blue;
    text-align: center;
    padding-bottom: 2rem;
  }
  p {
    padding-bottom: 0.3rem;
  }
  padding: 1rem;
  width: 100%;
  margin: 0 auto;
  .btn {
    width: auto;
    margin: 0 20px;
    h1 {
      text-align: center;
      font-size: 1.75rem;
      color: $dark;
    }
    p {
      text-align: left;
      font-size: 1rem;
    }
    border-radius: 0.3rem;
    border: 0.01rem solid $primary-blue;
    padding: 0.2rem;
    margin-bottom: 2rem;
  }
}

.cContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.gContainer {
  h3 {
    text-align: center;
    border-bottom: 0.01rem solid $primary-blue;
    padding: 0.1rem;
  }
  p {
    padding: 0.4rem;
  }
  border: 0.01rem solid $secondary-blue;
  box-shadow: rgba(0, 0, 0, 0.35) 0 0.313rem 0.938rem;
  width: 20%;
  margin: 0 auto;
  border-radius: 0.3rem;
  padding: 0.2rem;
}

//SINGLE GROUP
.scontainer {
  display: flex;
  flex-direction: row wrap;
  justify-content: center;
  padding: 2rem 0 2rem 0;
  width: 52em;
  margin: 2rem auto;
  background-color: $white;
  border: 0.1rem solid $primary-orange;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0 0.313rem 0.938rem;
  .col1{
    display: flex;
    flex-direction: row wrap;
    width: 100%;
    padding: 0.5rem;
  }
  .col {
    display: flex;
    flex-direction: row wrap;
    width: 100%;
    border-top: 0.1rem solid $secondary-orange;
    padding: 0.5rem;
    .info {
      padding-right: 2.7rem;
      padding-left: 0.15rem;
    }
  }
  .bold {
    color: $primary-blue;
    text-align: left;
    font-size: 1.5rem;
    font-weight: 400;
    padding-right: 2rem;
  }
  .bold2 {
    color: $primary-orange;
    text-align: left;
    font-size: 1.5rem;
    font-weight: 600;
  }
  h3 {
    text-align: left;
  }
}

//SINGLE GROUP EDIT
