@import "../../../globalCSS/_variables";

.regForm{
    // border: 1px solid red;
    margin: 1rem auto;
    width: 65%;
    height: auto;
}

.formContainer{
    display: flex;
    justify-content: center;
    flex-flow: wrap;
}

.formContColumn{
    // border: 1px solid yellow;
    margin: 1rem;
    width: 29%;
}

.addinfo{
    // border: 1px solid green;
    color: black;

    label{
        font-weight: bold;
        margin-top: .5rem;
    }

    input{
        background-color: $light-light-gray;
        border-radius: 5px;
        border: none;
    
        width: 100%;
        padding: 5px 10px;
        margin-bottom: .5rem;
    }
}


.btnContainer{
    margin: 5px auto;

    button {
        padding: 10px;
        width: 49%;

        border-radius: 5px;
        color: white;
        transition: opacity 1s 1s ease-in-out; 
    }

    .submitBtn{
        width: 100%;
        background-color: rgb(247,77,37);
        border: 1px solid rgb(247,77,37);
    }
    .submitBtn:hover {
        background-color: white;
        color: rgb(247,77,37);
    }
    
    .deleteBtn {
        background-color: rgb(25,141,168);
        border:1px solid rgb(25,141,168) ;
        margin-right: 1%;
    }
    .deleteBtn:hover {
        background-color: white;
        color: rgb(25,141,168);
    }

    .cancelBtn{
        background-color: rgb(66,63,64);
        border: 1px solid rgb(66,63,64);
        margin-left: 1%;
    }
    .cancelBtn:hover{
        background-color: white;
        color:  rgb(66,63,64);
    }
}


@media only screen and (max-width: 1024px) {
    .regForm{
        width: 100%;
    }
    .formContColumn{
        width: 30%;
    }
}

@media only screen and (max-width: 768px) {
    .regForm{
        width: 100%;
    }
    .formContColumn{
        width: 29%;
    }
}

@media only screen and (max-width: 540px) {
    .regForm{
        width: 80%;
    }
    .formContColumn{
        width: 100%;
    }
}

@media only screen and (max-width: 450px) {
    .regForm{
        width: 90%;
    }
}