@import "../../globalCSS/variables";

.tpContainer {
    margin: 0 7rem;
    padding: 1rem;
    display: flex;
    
}

.welcome {
    margin: 1rem 6rem;
    text-align: center;
    color: $primary-blue;
}

.tInfo {
    background-color: $primary-lightgreen-transparent;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 1rem;
    padding: 2rem;
    line-height: 1.5rem;
    margin-right: 2rem;
}

.tImg {
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    background-color: $primary-lightblue;
    margin-bottom: 1rem;
    img{
        margin: -0.25rem 0 0.625rem 0.719rem;
        width: 90%;
        height: 100%;
      }
}

.features {
    display: grid;
    grid-template-columns: 25rem;
    grid-template-rows: 16rem;
    margin-left: 1rem;
    column-gap: 1rem;
    row-gap: 1rem;
}

.gHead {
    display: flex;
    justify-content: space-between;
}

.gHeader {
    color: #ff4e13;
}

.tGroup {
    color: black;
    background-color: #F5f5f5;
    padding: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 1rem;
    line-height: 1.5rem;
    
}


.tTodo {    
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 1rem;
    padding: 1rem;
    background-color: #f5f5f5;
    grid-column-start: 1;
    grid-row-start: 2;
}

.calendar {
    margin-left: 2rem;
    grid-column-start: 2;
    grid-row-start: 1;
}

.hereStyle, .notHereStyle, .hereChild, .notHereChild {
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;
}

.hereStyle h1, .notHereStyle h1 {
    padding: 0 1rem;
}

.hereStyle, .notHereStyle {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #f5f5f5;
    max-width: 50rem;
    display: inline-flexbox;
    margin: 2rem auto;
}

.hereChild, .notHereChild {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2.5px 7.5px;
    background-color: #f5f5f5;
}

.hereChild {
    background-color: $primary-lightblue;
}

.notHereChild {
    background-color: lightgray;
}

.hereChild form, .notHereChild form {
    border-radius: 1rem;
    padding: .7rem;
    margin: 0;
    background-color: white;
    width: 14rem;
    display: flex;
    justify-content: space-between;
    align-content: center;
    vertical-align: middle;
}

.hereChild button, .notHereChild button {
    border-radius: 1rem;
    width: 5rem;
    border: none;
    background-color: orange;
}

.hereChild input, .notHereChild input {
    border-radius: 1rem;
    margin: .5rem;
    border: 1px solid  black;
}



