@import "../../globalCSS/variables";

.tpContainer {
    
    background-color: cadetblue;
    margin: 0 5rem;
    padding: 2rem;
    display: flex;
    
}

.tInfo {
    background-color: cornsilk;
    
    padding: 2rem;
    line-height: 1.5rem;
}

.tImg {
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    background-color: darkorchid;
    margin-bottom: 1rem;
}

.features {
    display: grid;
    grid-template-columns: 25rem 25rem;
    grid-template-rows: 15rem 15rem;
    margin-left: 1rem;
}

.tGroup {
    background-color: chocolate;
    padding: 1rem;
}

.tAtt {
    background-color: cornflowerblue;
    padding: 1rem;
}

.tTodo {
    padding: 1rem;
    background-color: darkkhaki;
}

