.mpContainer {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.welcome {
  text-align: center;
  color: #0c8da8;
  -webkit-box-shadow: #f9a26b4d 0px 5px 15px;
          box-shadow: #f9a26b4d 0px 5px 15px;
  background-color: rgba(0, 0, 0, 0.9);
}

.mInfo {
  background-color: #fdfeff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 1rem;
  padding: 2rem;
  line-height: 1.5rem;
  margin-right: 2rem;
}

.mImg {
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  background-color: #85d1ff;
  margin-bottom: 1rem;
}

.mImg img {
  margin: -0.25rem 0 0.625rem 0.719rem;
  width: 90%;
  height: 100%;
}

.features {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25rem 25rem;
      grid-template-columns: 25rem 25rem;
  -ms-grid-rows: 16rem 16rem;
      grid-template-rows: 16rem 16rem;
  margin-left: 1rem;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
  row-gap: 1rem;
}

.mGroup {
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-row: 1;
      grid-row-start: 1;
  background-color: #fdfeff;
  padding: 1rem;
  border-radius: 1rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.mGroup h3 {
  color: #ff4e13;
}

.mChildren {
  border-radius: 1rem;
  padding: 1rem;
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-row: 2;
      grid-row-start: 2;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.mChildren h3 {
  color: #ff4e13;
}

.mTeachers {
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-row: 1;
      grid-row-start: 1;
  background-color: #fdfeff;
  padding: 1rem;
  border-radius: 1rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.mTeachers h3 {
  color: #ff4e13;
}

.mTeachers button {
  margin: 0.2rem;
}

.mTodo {
  border-radius: 1rem;
  padding: 1rem;
  background-color: #fdfeff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-row: 3;
      grid-row-start: 3;
}

.calendar {
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-row: 2;
      grid-row-start: 2;
  border-radius: 1rem;
}

/* Iphone + Android */
@media only screen and (max-width: 768px) {
  .mpContainer {
    display: block;
    padding: 1rem;
    width: 100%;
  }
  .features {
    display: block;
    padding: 0;
    margin: 0;
  }
  .mInfo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    margin-top: 10px;
    line-height: normal;
    padding: 1rem;
  }
  .mTeachers {
    margin: 0;
    margin-top: 10px;
  }
  .mTeachers button {
    margin: 0;
  }
  .mChildren {
    margin: 0;
    margin-top: 10px;
  }
  .mImg {
    margin-right: 1rem;
  }
  .mGroup {
    margin: 0;
    margin-top: 15px;
  }
  .mGroup h2 {
    font-size: 1.2rem;
  }
  .mTodo {
    margin: 0;
    margin-top: 15px;
  }
  .calendar {
    width: 100%;
    margin: 0;
    margin-top: 15px;
  }
  .welcome {
    padding-top: 1rem;
    color: #0c8da8;
    font-size: 0.7rem;
  }
}
/*# sourceMappingURL=Mpage.module.css.map */