@import "../../globalCSS/variables";

.header {
  text-align: left;
  color: $primary-orange;
  width: 100%;
  margin: 0.5rem 0.5rem 0 0.8rem;
  padding: 0.4rem;
}

.btn {
display: flex;
flex-flow: row wrap;
justify-content: flex-end;
padding-top: 0.5rem;
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin: 0 auto;
}

.imgContainer {
  img {
    width: 10rem;
    height: 10rem;
  }
  margin: 0 auto;
}
.scontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5rem 0 0.5rem 0;
  width: 21em;
  margin: 1rem;
  background-color: $light;
  color: $light;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0 0.313rem 0.938rem;
}

.cardtitle {
  padding-top: 0.2rem;
  font-weight: 600;
  color: $primary-blue;
  text-align: center;
}

.listgroupitem {
  background-color: $secondary-blue;
  color: $light;
  width: 85%;
  margin: 0 auto;
  text-align: center;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
  padding-top: 0.2rem;
  line-height: 2rem;
}
.btn {
  margin: 0 auto;
  margin-bottom: 0.7rem;
}
