@import "../../globalCSS/variables";

.kgRegForm {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.fcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  color:$primary-blue;
}

input {
  width: 100%;
  height: 30px;
  margin-top: 5px;
}

.input-box {
margin-top: 10px;
}

.cancel {
  margin-right: 5px;
}

input::placeholder {
 padding: 5px;
}

.address {
  margin-top: 20px;
}

.kginfo {
  margin-top: 20px;
}

.kgReg {
  margin-top: 100px;
  color: $primary-blue;
}
