@import "../../globalCSS/variables";

.regForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-content: center;
}

.regContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  flex-direction: column;
  color:$primary-blue;
}

.btnContainer {
  display: flex;
  width: 66%;
}

.formContainer {
  display: grid;
  place-items: center;
}

.address {
  margin-top: 20px;
  width: 66%;
}

.regH {
  font-size: 3rem;

}


