$primary-orange: #FF4E13;
$primary-blue: #0C8DA8;
$primary-lightblue: #85D1FF;
$primary-green: #00A881;
$primary-lightgreen: #18F5C2;
$secondary-lightgreen: #A5E89D;
$secondary-lightblue: #68E3E6;
$secondary-blue: #0C8D9B;
$dark:#423F40;
$light: #FDFEFF;
$dark-gray: #A5A09C;
$light-gray: #CBCAC4;
$font: 'Montserrat', sans-serif;