$primary-orange: #ff4e13;
$primary-blue: #0c8da8;
$primary-lightblue: #85d1ff;
$primary-green: #00a881;
$primary-lightgreen: rgb(24, 245, 194);
$primary-lightgreen-transparent: rgba(24, 245, 194, 0.2);
$secondary-lightgreen: rgb(165, 232, 157);
$secondary-lightgreen-transparent: rgba(165, 232, 157, 0.2);
$secondary-lightblue: #68e3e6;
$secondary-lightblue-transparent: rgba(104, 227, 230, 0.2);
$secondary-lightblue-transparent2: rgba(104, 227, 230, 0.4);
$secondary-blue: rgb(12, 141, 155);
$secondary-blue-tranparent: rgba(12, 141, 155, 0.1);
$secondary-orange: #f9a26b;
$secondary-orange2: #d3763c;
$secondary-orange-tranparent: #f9a26b4d;
$dark: #423f40;
$light: #fdfeff;
$dark-gray: #a5a09c;
$light-gray: #cbcac4;
$light-light-gray: #f1f1f1;
$font: "Montserrat", sans-serif;
$white: #f1f1f1;
$black: rgba(0, 0, 0, 0.9);
$primary-graygreen: rgba(57, 100, 74, 0.5);
$light-light-gray: lightgray;
