$primary-orange: #ff4e13;
$primary-blue: #0c8da8;
$primary-lightblue: #85d1ff;
$primary-green: #00a881;
$primary-lightgreen: #18f5c2;
$secondary-lightgreen: #a5e89d;
$secondary-lightblue: #68e3e6;
$secondary-blue: #0c8d9b;
$secondary-orange: #F9A26B;
$dark: #423f40;
$light: #fdfeff;
$dark-gray: #a5a09c;
$light-gray: #cbcac4;
$font: "Montserrat", sans-serif;
