.submit {
  background-color: $primary-orange;
  border-radius: 0.25rem;
  color: $light;
  text-align: center;
  text-decoration: none;
  font-size: 1.15rem;
  border: none;
  padding: 0.5rem;
  margin-right: 0.5rem;

  &:hover {
    background: black;
    transition: 0.2 ease-out;
    border: 1px solid $primary-orange;
    cursor: pointer;
    color: $primary-orange;
  }
}

.login {
  background-color: $primary-blue;
  border: none;
  border-radius: 0.25rem;
  color: $light;
  text-align: center;
  text-decoration: none;
  font-size: 1.15rem;
  padding: 0.5rem;

  &:hover {
    background: black;
    transition: 0.2 ease-out;
    border: 1px solid $primary-blue;
    cursor: pointer;
    color: $primary-blue;
  }
}

.cancel {
  background-color: $dark;
  border-radius: 0.25rem;
  color: $light;
  text-align: center;
  text-decoration: none;
  font-size: 1.15rem;
  border: none;
  padding: 0.5rem;

  &:hover {
    background: white;
    transition: 0.2 ease-out;
    border: 1px solid $dark;
    cursor: pointer;
    color: $dark;
  }
}

.next {
  background-color: $primary-blue;
  border: none;
  border-radius: 0.25rem;
  color: $light;
  text-align: center;
  text-decoration: none;
  font-size: 1.15rem;
  padding: 0.5rem;
  margin-right: 0.5rem;

  &:hover {
    background: white;
    transition: 0.2 ease-out;
    border: 1px solid $primary-blue;
    cursor: pointer;
    color: $primary-blue;
  }
}

.att {
  background-color: $primary-orange;
  border: none;
  border-radius: 0.25rem;
  color: $light;
  text-align: center;
  text-decoration: none;
  font-size: 1.15rem;
  padding: 0.5rem;
  margin-left: 0.5rem;

  &:hover {
    background: white;
    transition: 0.2 ease-out;
    border: 1px solid $primary-orange;
    cursor: pointer;
    color: $primary-orange;
  }
}

.add {
  background-color: $secondary-orange2;
  border: none;
  border-radius: 0.25rem;
  color: $light;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  padding: 0.5rem;

  &:hover {
    background: $light;
    transition: 0.2 ease-out;
    border: 1px solid $secondary-orange2;
    cursor: pointer;
    color: $secondary-orange;
  }
}

.view {
  background-color: $primary-green;
  border: none;
  border-radius: 0.25rem;
  color: $light;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  padding: 0.5rem;
  margin-left: 0.5rem;

  &:hover {
    background: $light;
    transition: 0.2 ease-out;
    border: 1px solid $primary-green;
    cursor: pointer;
    color: $primary-green;
  }
}

.fixedit {
  background-color: $secondary-blue;
  border: none;
  border-radius: 0.25rem;
  color: $light;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  padding: 0.5rem;
  width: 20%;
  margin-left: 0.5rem;
  margin-right: 0.2rem;
  margin-top: 0.5rem;

  &:hover {
    background: $light;
    transition: 0.2 ease-out;
    border: 1px solid $primary-lightblue;
    cursor: pointer;
    color: $primary-lightblue;
  }
}

.edit {
  background-color: $secondary-orange;
  border: none;
  border-radius: 0.25rem;
  color: $light;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  padding: 0.5rem;

  &:hover {
    background: $light;
    transition: 0.2 ease-out;
    border: 1px solid $secondary-orange;
    cursor: pointer;
    color: $secondary-orange;
  }
}
.edit2 {
  background-color: $primary-lightblue;
  border: none;
  border-radius: 0.25rem;
  color: $light;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  padding: 0.5rem;

  &:hover {
    background: $light;
    transition: 0.2 ease-out;
    border: 1px solid $primary-lightblue;
    cursor: pointer;
    color: $secondary-orange;
  }
}
.edit3 {
  background-color: $secondary-lightblue;
  border: none;
  border-radius: 0.25rem;
  color: $light;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  padding: 0.5rem;
  margin-left: 0.2rem;

  &:hover {
    background: $light;
    transition: 0.2 ease-out;
    border: 1px solid $primary-lightblue;
    cursor: pointer;
    color: $secondary-orange;
  }
}

.back {
  background-color: $secondary-orange-tranparent;
  border-radius: 0.25rem;
  color: $dark;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  border: none;
  padding: 0.5rem;
  margin-right: 0.5rem;
  margin-top: 2rem;

  &:hover {
    background: white;
    transition: 0.2 ease-out;
    border: 1px solid $dark;
    cursor: pointer;
    color: $dark;
  }
}

@media only screen and (max-width: 600px) {
  .add {
    //padding: 5px;
    font-size: 0.8rem;
  }

  .view {
    //padding: 5px;
    font-size: 0.8rem;
  }

  .att {
    font-size: 0.8rem;
  }
}
