.submit {
  background-color: $primary-orange;
  border-radius: 0.75rem;
  color: $light;
  text-align: center;
  text-decoration: none;
  font-size: 1.15rem;
}

.cancel {
  background-color: $primary-green;
  border-radius: 0.75rem;
  color: $light;
  text-align: center;
  text-decoration: none;
  font-size: 1.15rem;
}

.next {
  background-color: $primary-blue;
  border-radius: 0.75rem;
  color: $light;
  text-align: center;
  text-decoration: none;
  font-size: 1.15rem;
}