@import "../../globalCSS/variables";

.hcontainer {
  margin: 0 5rem;
  display: block;
}

.icons {
  display: flex;
  justify-content: center;
}

.icon {
  width: 25%;
  color: $primary-blue;
  text-align: center;
  background-color: $light;
  margin: 1rem;
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.ptag {
  color: black;
  line-height: 1.5rem;
  text-align: left;
  padding-top: 1rem;
}

.po {
  color: $primary-orange;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  font-size: 2.5rem;
  color: $primary-blue;
  margin-bottom: 2rem;
  h3 {
    color: $dark;
  }
}

.svgHome {
  width: 30rem;
  height: 30rem;
  margin: 2rem;
}

/* Iphone + Android */
@media only screen and (max-width: 46rem) {
  .hcontainer {
    margin: 0;
    width: 100%;
    padding: 1rem;
  }
  .hero {
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    padding: 0.5rem;
    text-align: left;
    padding-top: 1rem;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    h1 {
      font-size: 1.2rem;
    }
    h3 {
      font-size: 1rem;
    }
  }
  .header {
    margin-bottom: 0.5rem;
  }
  .svgHome {
    width: 100%;
    height: 0.7rem;
    margin: 2rem;
    padding-right: 0;
  }
  .kids {
    position: relative;
    bottom: 5.3rem;
    width: 150px;
    height: 150px;
    left: 9rem;
  }
  .icons {
    display: block;
    width: 100%;
    margin: 0;
    font-size: 0.75rem;
  }
  
  .icon{
    width: 100%;
    margin: 0;
    margin-top: 1rem;
  }

  
}

/*KINDLE + IPAD */

@media only screen and (min-width: 46.5rem) and (max-width: 80rem) {
  .hcontainer {
    padding-top: 1.5rem;
    margin: 0 auto;
    width: 100%;
  }
  .hero {
    width: 60%;
    margin: 0 auto;
    padding-left: 0.5rem;
    h1 {
      font-size: 1.5rem;
    }
    h3 {
      font-size: 0.95rem;
    }
  }
  .header {
    margin-bottom: 0.5rem;
  }
  .svgHome {
    width: 100%;
    height: 0.7rem;
    margin: 2rem;
    padding-right: 0;
  }
  .kids {
    position: relative;
    bottom: 5.3rem;
    width: 12.5rem;
    height: 12.5rem;
  }
  .icons {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    margin: 0 auto;
    font-size: 0.75rem;
    padding-top: 1.5rem;
  }

  .ptag {
    line-height: 1rem;
    padding: 0;
  }

  .icon {
    width: 30%;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
  }
}
