@import "./variables";

.reg {
    color: $primary-blue;
    font-size: 2.8rem;
    font-weight: 500;    
    margin-top: 1rem;
}

.regBox {
  display: flex;
}

.smallBox {
  margin-left: 2rem;
}
  
.inputBox {
  margin-top: 10px;
  align-items: center;

  input {
    width: 100%;
    padding: 5px 10px;
    margin-top: 5px;
    background-color: lightgrey;
    border: none;
    border-radius: 5px;
  }

  input::placeholder {
    padding: 5px;
   }
}  
  
@media only screen and (max-width: 768px) {
  .reg {
    font-size: 1.8rem;
  }
  .inputBox {  
    input {
      padding: 3px;
    }

    input::placeholder {
      padding: 0;
     }
  }

  .regBox {
    display: block;
    //padding: 20px;
  }

  .smallBox {
    margin-left: 0rem;
  }
}

