/** @format */

@import "../../globalCSS/variables";

.lg {
  display: flex;
  flex-wrap: wrap;
}

.logo {
  width: 3rem;
  height: 3rem;
}

.kita {
  color: #fff;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
}

.nav {
  font-family: Helvetica;
  padding: 0 0.5rem;
  background: #0d0909;
  height: 55px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  color: white;
  border-radius: 5px;
}

.navbtn {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: white;
}


