@import "../../../globalCSS/_variables";

.formContainter{
    display: flex;
    justify-content: center;
}

.childForm{ 
    padding: 0 5px 0 5px;
}

.childFormContainerInner{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.childFormInner {
    margin: 1rem;
    width: 21rem;
}

.regInfo{
    padding: 5px 0px;    
}

.regInfo h3 {
    font-size: 1rem;
    margin-top: 10px;
}

.inputBox input {
    border: none;
    background-color: $light-light-gray;
    width: 100%;
    border-radius: 5px;
}

.inputBox label{
    margin-top: 5px;
}

.inputBox input,.emerInput input{
    padding: 5px 10px;
}

.listUnstyled{
    margin: 1rem 0rem;
    padding: .5rem;
    border-radius: 5px;
    list-style: none;
    background-color: $light-light-gray;
}

.formCheckLabel{
    margin: .6rem 1rem 1rem 1rem;
}

.emerInput label{
    margin: 5px 0 5px 0 ;
}

.emerInput input{
    border: none;
    margin: 5px 0;
    background-color: $light-light-gray;
    width: 100%;
    border-radius: 5px;
}

.att {
    display: flex;
    margin: 1rem auto;
    padding: .5rem;
    width: 9rem;
    justify-content:center; 

    border: 1px solid rgb(247,77,37);
    border-radius: 5px;
    background-color: rgb(247,77,37);
    color: white;
}
.att:hover{
    background-color: white;
     color: rgb(247,77,37);
}



@media only screen and (max-width: 1024px) {
    .childForm{ 
        width: 100%;
    }    
    .childFormInner {
        width: 30%;
    } 
}

@media only screen and (max-width: 768px) {
    .childFormInner {
        width: 29%;
    } 
    .formCheckLabel{
        margin: .34rem 1rem 1rem 1rem;
    }
}

@media only screen and (max-width: 540px) { 
    .childForm{ 
        width: 80%;
    }   
    .childFormInner {
        width: 100%;
    }
}

@media only screen and (max-width: 450px) { 
    .childForm{ 
        width: 100%;
    }   
}

