@import "../../globalCSS/variables";

//ALL GROUPS

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}
.cContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.acontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5rem 0 0.5rem 0;
  width: 21em;
  margin: 1rem 1rem;
  background-color: $light;
  color: $dark;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0 0.313rem 0.938rem;
  .col1 {
    display: flex;
    flex-direction: row wrap;
    width: 100%;
    padding: 0.5rem;
    justify-content: center;
  }
  .col,
  .col2 {
    display: flex;
    flex-direction: row wrap;
    justify-content: flex-start;
    margin: 0 auto;
    width: 95%;
    background-color: $primary-graygreen;
    border-top: 0.05rem solid $light-gray;
    padding-right: 2rem;
    padding-left: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    .info1 {
      padding-right: 2rem;
      padding-left: 0.15rem;
    }
    .info {
      padding-right: 1.7rem;
      padding-left: 0.15rem;
    }
  }
  .bold {
    color: $primary-blue;
    text-align: left;
    font-size: 1.5rem;
    font-weight: 600;
    padding-right: 2rem;
  }
  .bold2 {
    color: $primary-orange;
    text-align: left;
    font-size: 1.5rem;
    font-weight: 600;
  }
  h3 {
    text-align: left;
  }
}

.scontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5rem 0 0.5rem 0;
  width: 21em;
  margin: 5rem 10rem;
  background-color: #f5f5f5;
  color: $black;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0 0.313rem 0.938rem;
  .col1 {
    display: flex;
    flex-direction: row wrap;
    width: 100%;
    padding: 0.5rem;
    justify-content: center;
  }
  .col,
  .col2 {
    display: flex;
    flex-direction: row wrap;
    justify-content: flex-start;
    margin: 0 auto;
    width: 95%;
    background-color: $secondary-lightblue-transparent2;
    border-top: 0.05rem solid $light-gray;
    padding-right: 2rem;
    padding-left: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    .info1 {
      padding-right: 2rem;
      padding-left: 0.15rem;
    }
    .info {
      padding-right: 1.7rem;
      padding-left: 0.15rem;
    }
  }
  .bold {
    color: $primary-blue;
    text-align: left;
    font-size: 1.5rem;
    font-weight: 600;
    padding-right: 2rem;
  }
  .bold2 {
    color: $primary-orange;
    text-align: left;
    font-size: 1.5rem;
    font-weight: 600;
  }
  h3 {
    text-align: left;
  }
  .col2 {
    border-bottom: 0.05rem solid $light-gray;
  }
}

//SINGLE GROUP EDIT
.regForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem auto;
  width: 22rem;
  padding: 2rem;
  .addcontainer {
    width: 18rem;
    margin: 0 auto;
  }
  .addinfo {
    margin: 0 auto;
    text-align: center;
    input[type="text"] {
      border-radius: 0.3rem;
      background-color: $light-light-gray;
      color: $black;
      border: 0.1rem solid $light-gray;
      padding: 0.35rem 0.35rem;
      margin: 0.2rem;
    }
    label {
      color: $dark;
      font-weight: 500;
    }
  }
  .title {
    h3 {
      color: $primary-blue;
      font-size: 1.35rem;
      text-align: center;
      margin-left: 0.1rem;
      margin-bottom: 1rem;
    }
  }
  .btn {
    margin: 0.55rem 0 0.5rem 0;
    text-align: center;
    p {
      padding-top: 0.5rem;
    }}
  padding-top: 0.5rem;
}

//ADD GROUP

.maincontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem auto;
  width: 22rem;
  padding: 2rem;
  .addcontainer {
    width: 18rem;
    margin: 0 auto;
  }
  .addinfo {
    margin: 0 auto;
    text-align: center;
    input[type="text"] {
      border-radius: 0.3rem;
      background-color: $light-light-gray;
      color: $black;
      border: 0.1rem solid $light-gray;
      padding: 0.35rem 0.35rem;
      margin: 0.2rem;
    }
    label {
      color: $dark;
      font-weight: 500;
    }
  }
  .title {
    h3 {
      color: $primary-blue;
      font-size: 1.35rem;
      text-align: center;
      margin-left: 0.1rem;
      margin-bottom: 1rem;
    }
  }
  .btn {
    margin: 0.55rem 0 0.5rem 0;
    text-align: center;
    p {
      padding-top: 0.5rem;
    }
  }
}
