@import "../../globalCSS/variables";

.regBox {
    display: flex;

    
}

.regForm {
    padding: 0 5rem;
    width: 100vh;

    input {
        background-color: lightblue;
        border: none;
        border-radius: 5px;
        padding: 20px 10px;
        width: 20rem;
    }

}

.editHead {
    color: $primary-blue;
    font-size: 1rem;
}

.address {
    padding-left: 5px;
}
