@import "../../globalCSS/variables";

.mpContainer {
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.welcome {
  margin: 1rem 6rem;
  text-align: center;
  color: $primary-blue;
  box-shadow: $secondary-orange-tranparent 0px 5px 15px;
  background-color: $black;
  width: 100%;
  margin: 0 auto;
}

.mInfo {
  background-color: $light;
  //background-color: $primary-lightgreen-transparent;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 1rem;
  padding: 2rem;
  line-height: 1.5rem;
  margin-right: 2rem;
}

.mImg {
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  background-color: $primary-lightblue;
  margin-bottom: 1rem;
  img {
    margin: -0.25rem 0 0.625rem 0.719rem;
    width: 90%;
    height: 100%;
  }
}

.features {
  display: grid;
  grid-template-columns: 25rem 25rem;
  grid-template-rows: 16rem 16rem;
  margin-left: 1rem;
  column-gap: 1rem;
  row-gap: 1rem;
}

.mGroup {
  background-color: $light;
  //background-color: $secondary-lightblue-transparent;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  h3 {
    color: $primary-orange;
  }
}

.mTeachers {
  background-color: $light;
  // background-color: $secondary-lightblue-transparent;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  h3 {
    color: $primary-orange;
  }
}

.mTodo {
  border-radius: 1rem;
  padding: 1rem;
  background-color: $light;
  //background-color: $secondary-lightgreen-transparent;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  grid-column-start: 1;
  grid-row-start: 3;
}

.calendar {
  margin-left: 1.5rem;
  grid-column-start: 2;
  grid-row-start: 1;
  border-radius: 1rem;
}

/* Iphone + Android */
//IPHONE 6/7
@media only screen and(min-width: 414px) and(max-width: 736px) {
  .mTodo {
    position: relative;
    margin-right: 2.5rem;
  }
}
@media only screen and (max-width: 46rem) {
  .mpContainer {
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    height: 190vh;
  }
  .welcome {
    margin: 1rem 6rem;
    text-align: center;
    padding-top: 0.2rem;
    width: 100%;
    h2 {
      font-size: 1.5rem;
    }
    margin: 0 auto;
  }
  .mInfo {
    width: 40%;
    padding: 0;
    line-height: 1.5rem;
    margin-right: 0;
    height: 16.35rem;
    .mImg{
      width: 85%;
      height: 45%;
      margin: 0 auto;
      img{
        position: relative;
        right: 0.2rem;
      }
    }
  }
  .features {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 50%;
  }
  .mGroup {
    padding: 1rem;
    font-size: 0.7rem;
  }
  .mTeachers {
    padding: 1rem;
    font-size: 0.7rem;
  }

  .mTodo {
    position: relative;
    right: 11rem;
    margin-left: 1.5rem;
    bottom: 18.4rem;
    input {
      width: 100%;
    }
  }
  .calendar {
    position : relative;
    width: 150%;
    padding-top: 0.2rem;
    padding-right: 20.55rem;
    bottom: 18rem;
    right: 5.35rem;
  }
}

/*KINDLE + TABLETS + IPAD*/
@media only screen and (min-width: 46.1rem) and (max-width: 80rem) {
  .welcome {
    margin: 1rem 6rem;
    text-align: center;
    padding-top: 0.2rem;
    width: 100%;
    h2 {
      font-size: 1.5rem;
    }
    margin: 0 auto;
  }
  .mInfo {
    width: 40%;
    padding-top: 2rem;
    line-height: 1.5rem;
    margin-right: 0;
    height: 18rem;
    .mImg{
      width: 55%;
      height: 52%;
      margin: 0 auto;
      img{
        position: relative;
        top: 0.2rem;
        left: 0.2rem;
        width: 80%;

      }
    }
  }
  .features {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 50%;
  }
  
  .mGroup, .mTeachers {
    padding: 1rem;
    font-size: 0.85rem;
    height: 16rem;
  }
  .calendar {
    position : relative;
    bottom: 45rem;
    right: 23.5rem;
  }
}
