@import "../../globalCSS/variables";

.header{
    text-align: center;
    color: $primary-blue;
    box-shadow: $secondary-orange-tranparent 0px 5px 15px;
    background-color: $black;
    width: 100%;
    margin: 0 auto;
    padding: 0.2rem;
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin: 0 auto;
}

.imgContainer{
   img{
       width: 10rem;
       height: 10rem;
   }
      margin: 0 auto; 
}
    .scontainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0.5rem 0 0.5rem 0;
        width: 21em;
        margin: 0.5rem;
        background-color: $black;
        color: $light;
        border-radius: 0.5rem;
        box-shadow: rgba(0, 0, 0, 0.35) 0 0.313rem 0.938rem;
       
}
.card{
    color: $dark;
    background-color: red;
}
.cardtitle {
    background-color:yellow;
}
.listgroup {
    background-color: lightblue;
}
.listgroupitem{
    background-color: $light;
    color: $dark;
}
