@import "../../globalCSS/variables";
.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    h2 {
      color: $primary-blue;
      text-align: center;
      padding-bottom: 2rem;
    }
    p {
      padding-bottom: 0.3rem;
    }
    padding: 1rem;
    width: 100%;
    margin: 0 auto;
    .btn {
      width: auto;
      margin: 0 20px;
      h1 {
        text-align: center;
        font-size: 1.75rem;
        color: $dark;
      }
      p {
        text-align: left;
        font-size: 1rem;
      }
      border-radius: 0.3rem;
      border: 0.01rem solid $primary-blue;
      padding: 0.2rem;
      margin-bottom: 2rem;
    }
  }
  .gContainer {
    h3 {
      text-align: center;
      border-bottom: 0.01rem solid $primary-blue;
      padding: 0.1rem;
    }
    p {
      padding: 0.4rem;
    }
    border: 0.01rem solid $secondary-blue;
    box-shadow: rgba(0, 0, 0, 0.35) 0 0.313rem 0.938rem;
    width: auto;
    margin: 0 auto;
    border-radius: 0.3rem;
    padding: 0.2rem;
  }